.navMenu {
  display: flex;
  color: #111;
  background: transparent;
  font-size: 17px;
  font-family: "Helvetica Now Text Medium", Arial, sans-serif;
  font-weight: bolder;
}
.navMenu li:hover {
  border-bottom: 3px solid black;
}
.container {
  display: flex;
}
.navMenu ul {
  display: flex;
  list-style-type: none;
  justify-self: center;
}
.navMenu li {
}
.logo {
}

.searchBar {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 10px;
}

.searchInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.searchButton {
  background-color: #f60;
  color: #fff;
  border: none;
  border-radius: 50%; /* Round shape for the button */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #ff9000;
}
