@import "_variables";

.mvp-section {
  margin-top: 100px;
  font-family: "Helvetica Now Text Medium", Helvetica, sans-serif;
}
.title {
  @include title-styles;
}
.products-container {
  @include product_container_styles;
}

.product-card {
  @include product_card_styles;
}
.product-card:hover {
  box-shadow: $product_box_shadow;
}

.product-image {
  @include product_image_styles;
}

.product-title {
  @include product_title_styles;
}

/* .product-description {
  margin: 5px;
  font-size: 14px;
  color: #555;
} */

.product-price {
  @include product_price_styles;
}

.product-rating {
  @include product_rating_styles;
}
