@import "_variables";

.slider-navbar {
  background-color: $bg-color;
  color: black;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-navbar ul li {
  display: none;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.slider-navbar ul li a {
  color: #000;
}

.slider-navbar ul li.active {
  display: block;
}
