.todoForm {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.modernInput {
  display: block;
  width: 100%;
  border: none;
  color: black;
  font-size: 16px;
}
.modernInput:focus {
  outline: none;
}
.modernButton {
  display: inline-block;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 12px 20px;
  background-color: rgb(223, 223, 46);
  color: white;
  cursor: pointer;
  font-size: 1.3em;
}
.modernButton:hover {
  background-color: yellow;
}
.inputContainer {
  display: flex;
}
