.addTo button {
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 20px;
}
.addTo button:hover {
  background-color: rgb(55, 54, 54);
}
.addTo button:active {
  border: none;
}
