.product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.getinfo {
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 20px;
  padding: 2px;
}
.getinfo:hover {
  background-color: rgb(55, 54, 54);
}
.getinfo:active {
  border: none;
}
